/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
  padding-block: 0.83em;
}

:root {
  --ff-body: serif;
  --ff-heading: serif;

  --fs-300: 0.7rem;
  --fs-400: 0.8rem;
  --fs-500: 1rem;
  --fs-600: 1.2rem;
  --fs-700: 1.5rem;
  --fs-800: 3rem;
  --fs-900: 5rem;

  --semi-bold: 600;
  --bold: 800;
}

/* Light Theme */
[data-theme='light'] {
  --clr-text-main: hsl(0, 100%, 50%);
  --clr-text-alt: hsl(214, 52%, 85%);

  --clr-link: hsl(217, 16%, 68%);
  --clr-link-hover: hsl(217, 16%, 80%);
  --clr-link-active: hsl(0, 0%, 100%);

  --bgc-main: hsl(0, 0%, 100%);

  --clr-primary: hsl(217, 22%, 32%);
  --clr-secondary: hsl(210, 20%, 22%);
}
/* Dark Theme */
[data-theme='dark'] {
  --clr-text-main: hsl(212, 17%, 70%);
  --clr-text-alt: hsl(214, 52%, 85%);

  --clr-main-opaque: hsla(212, 17%, 70%, 0.2);

  --clr-link: hsl(217, 16%, 68%);
  --clr-link-hover: hsl(217, 20%, 85%);
  --clr-link-active: hsl(0, 0%, 100%);

  --bgc-main: hsl(227, 15%, 15%);
  --bgc-alt: hsl(210, 25%, 17%);

  --clr-primary-text: hsl(20, 100%, 65%);
  --clr-primary-bg: hsla(20, 100%, 55%, 0.1);
  --clr-secondary: hsl(172, 70%, 55%);
}

/* Helpers Start*/
.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clickable {
  cursor: pointer;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Helpers End*/

html {
  scroll-padding-top: 55px;
}

body {
  color: var(--clr-text-main);

  background: no-repeat fixed
    repeating-linear-gradient(var(--bgc-alt), var(--bgc-main) 110vh);
  min-height: 100vh;
}

a {
  color: var(--clr-text-main);
  text-decoration: none;
}

.link {
  color: var(--clr-link);
}

svg {
  aspect-ratio: 1/1;
}

svg.icon {
  fill: var(--clr-link);
}

svg.small {
  width: 16px;
}

.card {
  box-sizing: content-box;
  text-align: justify;
  padding-block: 1.5rem;
}

table {
  border-collapse: collapse;
}

th {
  text-align: start;
  padding-block: 1rem;
}

tr {
  border-bottom: 1px solid var(--clr-main-opaque);
}

/* Small screens */
@media screen and (max-width: 600px) {
  .lg-visible {
    display: none;
  }
}

/* Medium screens */
@media screen and (min-width: 600px) {
  html {
    scroll-padding-top: 100px;
  }
  .md-hidden {
    display: none;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
  }

  section > * {
    padding-inline: 1rem;
  }

  ul {
    padding: 0;
  }

  svg.icon:hover {
    fill: var(--clr-link-hover);
  }

  .link:hover {
    color: var(--clr-link-hover);
    transition: color 300ms ease;
  }

  .card {
    padding-inline: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 300ms ease;
    cursor: pointer;
  }
  .card:hover {
    color: var(--clr-link-hover);
    box-shadow: 0 0 20px var(--clr-primary-bg);
    background-color: var(--clr-primary-bg);
  }

  .cards-ul:hover > :not(*:hover) {
    transition: opacity 300ms ease;
    opacity: 0.6;
  }

  .link-container:hover * {
    color: var(--clr-link-hover);
    fill: var(--clr-link-hover);
  }
}
