@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Mulish:wght@300&display=swap');
/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

/* Reset End */

:root {
  --ff-body: 'Mukta', sans-serif;
  --ff-heading: 'Mulish', sans-serif;

  --fs-300: 0.7rem;
  --fs-400: 0.8rem;
  --fs-500: 1rem;
  --fs-600: 1.2rem;
  --fs-700: 1.4rem;
  --fs-800: 2rem;
  --fs-900: 2.4rem;

  --semi-bold: 600;
  --bold: 800;
}

/* Light Theme */
[data-theme='light'] {
  --clr-text-main: #000;

  --clr-main-opaque: hsl(36, 6%, 33%);

  --clr-link: hsl(184, 14%, 21%);
  --clr-link-hover: hsl(186, 25%, 31%);
  --clr-link-active: hsl(224, 66%, 46%);

  --bgc-main-light: hsl(37, 44%, 93%);
  --bgc-main: hsl(34, 13%, 75%);
  --bgc-primary: hsla(20, 100%, 55%, 0.2);

  --card-hover: hsla(30, 1%, 37%, 0.2);

  --clr-primary-text: hsl(20, 70%, 49%);
  /* TODO: See if I need secondary clr --clr-secondary: hsl(210, 20%, 22%); */
}
/* Dark Theme */
[data-theme='dark'] {
  --clr-text-main: hsl(212, 17%, 70%);

  --clr-main-opaque: hsla(212, 17%, 70%, 0.2);

  --clr-link: hsl(217, 16%, 68%);
  --clr-link-hover: hsl(213, 22%, 90%);
  --clr-link-active: hsl(0, 0%, 100%);

  --bgc-main-light: hsl(210, 25%, 17%);
  --bgc-main: hsl(227, 15%, 15%);
  --bgc-primary: hsla(20, 100%, 55%, 0.1);

  --card-hover: hsla(211, 22%, 29%, 0.2);

  --clr-primary-text: hsl(20, 100%, 65%);
  --clr-secondary: hsl(172, 70%, 55%);
}

/* Helpers Start*/
.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clickable {
  cursor: pointer;
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Helpers End*/

.c-breadcrumbs__crumb {
  text-transform: capitalize;
}

html {
  scroll-padding-top: 55px;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-600);
  color: var(--clr-text-main);

  background: no-repeat fixed
    repeating-linear-gradient(var(--bgc-main-light), var(--bgc-main) 110vh);
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  letter-spacing: -0.02rem;
}

h2 {
  padding-block: 0.5rem;
}

h3 {
  font-size: var(--fs-600);
}

a {
  color: var(--clr-text-main);
  text-decoration: none;
}

p {
  text-align: justify;
}

.link {
  color: var(--clr-link);
}

svg {
  aspect-ratio: 1/1;
}

svg.icon {
  fill: var(--clr-link);
}

svg.small {
  width: 16px;
}

.card {
  box-sizing: content-box;
  padding-block: 1.2rem;
}

table {
  border-collapse: collapse;
}

th {
  text-align: start;
  padding-block: 1rem;
}

tr {
  border-bottom: 1px solid var(--clr-main-opaque);
}

/* Small screens */
@media screen and (max-width: 600px) {
  .lg-visible {
    display: none;
  }
}

/* Medium screens */
@media screen and (min-width: 600px) {
  html {
    scroll-padding-top: 100px;
  }

  .md-hidden {
    display: none;
  }

  h2 {
    padding-top: 2rem;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  h3 {
    font-size: var(--fs-700);
  }

  .lg-hidden {
    display: none;
  }

  section > * {
    padding-inline: 1rem;
  }

  .cards-container {
    padding: 0;
  }

  svg.icon:hover {
    fill: var(--clr-link-hover);
  }

  .link:hover {
    color: var(--clr-link-hover);
    transition: color 300ms ease;
  }

  .card {
    padding-inline: 1rem;
    border-radius: 10px;
    transition: all 300ms ease;
    cursor: pointer;
  }
  .card:hover {
    background-color: var(--card-hover);
  }

  .cards-container:hover > :not(*:hover) {
    transition: opacity 300ms ease;
    opacity: 0.6;
  }

  .link-container:hover * {
    color: var(--clr-link-hover);
    fill: var(--clr-link-hover);
  }
}
