---
import MainLayout from '@layouts/MainLayout.astro';
import About from '@components/Home/About.astro';
import Projects from '@components/Home/Projects.astro';
import Contact from '@components/Home/Contact.astro';
import Experience from '@components/Home/Experience.astro';
import Aside from '@components/Home/Aside.astro';
---

<html lang='en' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout>
        <div id="home-grid">
          <Aside/>
          <main>
            <About />
            <Experience />
            <Projects />
            <Contact />
          </main>
        </div>
    </MainLayout>
  </body>
</html>
<style>
  main {
    padding: 0 1.5rem 0 1.5rem;
    justify-self: center;
  }

  #home-grid {
    display: grid;
  }
  @media screen and (min-width: 600px) {
    #home-grid {
      
      grid-template-areas: 
      'main aside'
      'footer footer'
      ;
      grid-template-columns: 2fr 1fr;
    }
  
    main {
      grid-area: main;
      max-width: 40vw;
    }
  }
</style>