---
import * as about from '@content/about.md';
import Tags from '../Tags.astro';
---

<section id='about'>
  <h2>{about.frontmatter.title}</h2>
  <about.Content />
  <h3>Languages I know</h3>
  <Tags tags={about.frontmatter.languages} />
  <!-- ! Include resume -->
</section>
