---
import * as about from '@content/about/about.md';
import Tags from '../Tags.astro';
import { Icon } from 'astro-icon';
---

<section id='about'>
  <img src={about.frontmatter.img} id='portrait' />
  <about.Content />
  <h3>Languages I know</h3>
  <div>
    <Tags tags={about.frontmatter.languages} />
  </div>
  <a
    href='/resume.pdf'
    class='flex link-container resume-container'
    target='_blank'
  >
    <span>View Full Résumé</span>
    <Icon name='ph:arrow-right-bold' class='icon small' />
  </a>
</section>
<style>
  img {
    object-fit: cover;
    width: 300px;
    aspect-ratio: 1 / 1;
    object-position: top;
    margin-inline: auto;
    border-radius: 50%;
    padding: 2rem;
  }

  .resume-container {
    padding-top: 2rem;
  }

  #portrait {
    animation: slide-down 1s ease;
  }

  @media screen and (min-width: 1024px) {
    img {
      width: 400px;
    }
  }
</style>
