---
import * as about from '@content/about.md';
import Tags from '../Tags.astro';
---

<section>
  <h2>{about.frontmatter.title}</h2>
  <Tags tags={about.frontmatter.languages} />
  <about.Content />
</section>
