---
import * as about from '@content/about/about.md';
import Tags from '../Tags.astro';
import { Icon } from 'astro-icon';
---

<section id='about'>
  <div aria-hidden class='section-container'>
    <img src={about.frontmatter.img} id='portrait' />
    <about.Content />
    <h3>Languages I know</h3>
    <div>
      <Tags tags={about.frontmatter.languages} />
    </div>
    <a
      href='/portfolio/resume.pdf'
      class='flex link-container resume-container'
      target='_blank'
    >
      <span class='resume'>View Full Résumé</span>
      <Icon name='ph:arrow-right-bold' class='icon small' />
    </a>
  </div>
</section>
<style>
  section {
    min-height: 90vh;
  }

  img {
    object-fit: cover;
    width: 300px;
    aspect-ratio: 1 / 1;
    object-position: top;
    margin-inline: auto;
    border-radius: 50%;
    padding: 2rem;
  }

  .resume-container {
    padding-top: 3rem;
  }

  .resume {
    font-size: 20px;
  }

  #portrait {
    animation: slide-down 1s ease;
  }

  @media screen and (min-width: 1024px) {
    img {
      width: clamp(420px, 25vw, 550px);
    }
  }
</style>
