---
import AsideNav from './AsideNav.astro';
import {frontmatter} from '@content/about.md';

---

<aside class="lg-visible">
    <h1>{frontmatter.name}</h1>
    <p>{frontmatter.currentRole}</p>
    <AsideNav />
</aside>
<style>
    aside {
         position: sticky;
         top: 96px;
         height: fit-content;
    }
</style>