---
import AsideNav from './AsideNav.astro';
import { frontmatter } from '@content/about/about.md';
import { Icon } from 'astro-icon';
---

<aside>
  <h1>{frontmatter.name}</h1>
  <p>{frontmatter.currentRole}</p>
  <AsideNav />
  <div class='flex'>
    <a href={frontmatter.links.github} target='_blank'>
      <Icon name='mdi:github' class='icon' />
    </a>
    <a href={frontmatter.links.linkedin} target='_blank'>
      <Icon name='mdi:linkedin' class='icon' />
    </a>
    <a href={'mailto:' + frontmatter.links.email}>
      <Icon name='ic:outline-mail' class='icon' id='mail-icon' />
    </a>
  </div>
</aside>
<style>
  aside {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: var(--fs-900);
    margin-block: 2rem 0;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 600px) {
    aside {
      padding: 4rem 1.5rem 0 1.5rem;
    }
  }

  @media screen and (min-width: 600px) {
    aside {
      position: sticky;
      top: 104px;
      height: calc(100vh - 104px);
    }

    div {
      margin-top: auto;
      margin-bottom: 7rem;
      gap: 1.5rem !important;
    }
  }

  @media screen and (min-width: 1024px) {
    #mail-icon {
      height: 40px;
      width: 40px;
    }
  }
</style>
