---
---

<nav id='aside-nav' class='lg-visible'>
  <ul>
    <li data-for='about' class='aside-nav-link active li-no-style'>
      <a class='link' href='/portfolio/#about'>
        <span class='line'></span>
        <span>About</span>
      </a>
    </li>
    <li data-for='experience' class='aside-nav-link li-no-style'>
      <a class='link' href='/portfolio/#experience'>
        <span class='line'></span>
        <span>Experience</span>
      </a>
    </li>
    <li data-for='projects' class='aside-nav-link li-no-style'>
      <a class='link' href='/portfolio/#projects'>
        <span class='line'></span>
        <span>Projects</span>
      </a>
    </li>
  </ul>
</nav>
<style>
  .link {
    display: flex;
    align-items: center;
    padding-block: 0.75rem;
  }
  .line {
    display: block;
    width: 2.5rem;
    height: 1px;
    margin-right: 0.75rem;
    background-color: var(--clr-link);
    transition: width 300ms ease;
  }

  .active .line {
    width: 5rem;
    background-color: var(--clr-link-active);
  }

  .active span {
    color: var(--clr-link-active);
  }
</style>
<script>
  import { handleScroll } from 'src/scripts/asideNavHelper';
  window.addEventListener('scroll', handleScroll);
</script>
