---
import WorkExCard from './WorkExCard.astro';
const workExArr = await Astro.glob('../../content/WorkEx/*.md');
---

<section id='experience'>
  <h2>Experience</h2>

  <ul class='cards-container'>
    {workExArr.map((workEx) => <WorkExCard mdFile={workEx} />)}
  </ul>
</section>
