---
import VerticalCarousel from '../Carousel/VerticalCarousel';
import { CollectionEntry, getCollection } from 'astro:content';
const workExArr: Array<CollectionEntry<'WorkEx'>> = await getCollection(
  'WorkEx'
);

let sortedWorkExArr: Array<CollectionEntry<'WorkEx'>> = new Array(
  workExArr.length
);
workExArr.forEach((workEx) => {
  sortedWorkExArr.splice(workEx.data.sortOrder, 1, workEx);
});
sortedWorkExArr = sortedWorkExArr.reverse();
---

<section id='experience'>
  <h2>Experience</h2>
  <VerticalCarousel data={workExArr} client:load />
</section>
