---
import { getEntry } from 'astro:content';
import FeaturedProject from './FeaturedProject.astro';
const featuredProject1 = await getEntry('projects', 'photo-tagging');
const featuredProject2 = await getEntry('projects', 'shopping-cart');
const featuredProject3 = await getEntry('projects', 'memory-card');
---

<section id='projects'>
  <h2>Projects</h2>
  <ul class='cards-ul'>
    <FeaturedProject project={featuredProject1} />
    <FeaturedProject project={featuredProject2} />
    <FeaturedProject project={featuredProject3} />
  </ul>
  <a href='/projects' class='flex link-container'
    ><span>View Full Project Archive</span><svg
      xmlns='http://www.w3.org/2000/svg'
      height='48'
      viewBox='0 -960 960 960'
      width='48'
      class='icon small'
      ><path
        d='m480-160-42-43 247-247H160v-60h525L438-757l42-43 320 320-320 320Z'
      ></path></svg
    ></a
  >
</section>
<style></style>
