---
import { Icon } from 'astro-icon';
import { getEntry } from 'astro:content';
import FeaturedProject from './FeaturedProject.astro';
const featuredProject1 = await getEntry('projects', 'photo-tagging');
const featuredProject2 = await getEntry('projects', 'shopping-cart');
const featuredProject3 = await getEntry('projects', 'memory-card');
---

<section id='projects'>
  <h2>Projects</h2>
  <div class='cards-container'>
    <FeaturedProject project={featuredProject1} />
    <FeaturedProject project={featuredProject2} />
    <FeaturedProject project={featuredProject3} />
  </div>
  <a href='/projects' class='flex link-container'>
    <span>View Full Project Archive</span>
    <Icon name='ph:arrow-right-bold' class='icon small' />
  </a>
</section>
