---
import { Icon } from 'astro-icon';
import { getEntry } from 'astro:content';
import FeaturedProject from './FeaturedProject.astro';
const featuredProject1 = await getEntry('projects', 'photo-tagging');
const featuredProject2 = await getEntry('projects', 'shopping-cart');
const featuredProject3 = await getEntry('projects', 'memory-card');
---

<section id='projects'>
  <div aria-hidden class='section-container'>
    <h2>Projects</h2>
    <div class='card-container'>
      <FeaturedProject project={featuredProject1} />
      <FeaturedProject project={featuredProject2} />
      <FeaturedProject project={featuredProject3} />
    </div>
    <a href='/projects' class='flex link-container'>
      <span>View Full Project Archive</span>
      <Icon name='ph:arrow-right-bold' class='icon small' />
    </a>
  </div>
</section>
<style>
  .card-container {
    display: grid;
  }
  @media screen and (min-width: 1024px) {
    .card-container {
      padding: 0;
    }

    .card-container:hover > :not(*:hover) {
      transition: opacity 300ms ease;
      opacity: 0.6;
    }
  }
</style>
