---
import * as featuredProject1 from '@projects/photo-tagging.md';
import * as featuredProject2 from '@projects/shopping-cart.md';
import * as featuredProject3 from '@projects/memory-card.md';
import FeaturedProject from './FeaturedProject.astro';
---

<section>
  <FeaturedProject mdFile={featuredProject1} />
  <FeaturedProject mdFile={featuredProject2} />
  <FeaturedProject mdFile={featuredProject3} />
  <div>
    <a href='/projects' class='flex'
      ><span>View Full Project Archive</span><svg
        xmlns='http://www.w3.org/2000/svg'
        height='48'
        viewBox='0 -960 960 960'
        width='48'
        class='link-icon'
        ><path
          d='m480-160-42-43 247-247H160v-60h525L438-757l42-43 320 320-320 320Z'
        ></path></svg
      ></a
    >
  </div>
</section>
<style></style>
