---
import { frontmatter } from '@content/about/about.md';
import { Icon } from 'astro-icon';
---

<footer class='flex'>
  <p>&copy Copyright 2023. Made by {frontmatter.name}</p>
  <div class='flex' id='icon-container'>
    <a href={frontmatter.links.github} target='_blank'>
      <Icon name='mdi:github' class='icon' />
    </a>
    <a href={frontmatter.links.linkedin} target='_blank'>
      <Icon name='mdi:linkedin' class='icon' />
    </a>
    <a href={'mailto:' + frontmatter.links.email}>
      <Icon name='ic:outline-mail' class='icon' id='mail-icon' />
    </a>
  </div>
</footer>
<style>
  footer {
    justify-content: center;
    padding-block: 1rem;
    background-color: var(--bgc-main);
  }

  #icon-container {
    gap: 1rem;
  }
</style>
