:root {
  --bgc-carousel-right: white;
  --bgc-carousel-left: var(--clr-primary-text);
  --clr-carousel-lead: white;
}

.transparent {
  opacity: 0;
}

.carousel {
  margin: auto;
  display: grid;
  border-radius: 5px;
  box-shadow: 1px 3px 6px hsla(0, 0%, 0%, 0.3);
  overflow: hidden;
}

.carousel > div {
  flex: 1;
  padding: 20px;
  height: clamp(340px, 70vw, 400px);
}

.carousel__wrapper {
  background: var(--bgc-carousel-left);
  display: flex;
  flex-direction: column;
}

.carousel-item {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  color: var(--clr-carousel-lead);
  line-height: 1.3;
}

.carousel__content-container {
  background: var(--bgc-carousel-right);
  display: grid;
}

.carousel__tags {
  align-self: end;
}

.carousel__inner {
  height: 100%;
  display: flex;
  flex: 5;
  align-items: center;
}

.carousel__button {
  display: flex;
  align-self: center;
  padding: 10px;
  max-width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 999vw;
  background: var(--bgc-carousel-left);
  border: 2px solid var(--bgc-carousel-right);
}

.carousel__button svg {
  height: 26px;
  width: 26px;
}
.carousel__button path {
  fill: var(--bgc-carousel-right);
}

.carousel__slide-container {
  position: relative;
  max-height: 200px;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.carousel__slide-container::before,
.carousel__slide-container::after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 50px;
  pointer-events: none;
}

.carousel__slide-container::before {
  top: 0;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0%,
    var(--bgc-carousel-left) 100%
  );
}

.carousel__slide-container::after {
  bottom: 0;
  background: linear-gradient(
    0deg,
    var(--bgc-carousel-left) 0%,
    hsla(0, 0%, 100%, 0) 100%
  );
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 78px;
  /* carousel__slide-container / 2 - height / 2*/

  top: 61px;
  transition: transform 0.4s ease;
}

@media screen and (min-width: 1024px) {
  .carousel {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
  .carousel__slide-container {
    max-height: 250px;
  }

  .carousel__slide-container::before,
  .carousel__slide-container::after {
    height: 110px;
  }

  .carousel-item {
    top: 86px;
  }
}
