---
import Themes from 'astro-themes';
import MainLayout from '../../layouts/MainLayout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import ProjectRow from '@components/Projects/ProjectRow.astro';
import Footer from '@components/Footer.astro';
import { CollectionEntry, getCollection } from 'astro:content';

const projects = await getCollection('projects');
let sortedProjects: Array<CollectionEntry<'projects'>> = new Array(
  projects.length
);
projects.forEach((project) => {
  sortedProjects.splice(project.data.sortOrder, 1, project);
});
sortedProjects = sortedProjects.reverse();
---

<html lang='en'>
  <head>
    <Themes defaultTheme='dark' />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Gabriel Chang</title>
  </head>
  <body>
    <MainLayout>
      <div class='wrapper'>
        <Breadcrumb />
        <main>
          <table>
            <caption>Project Archives</caption>
            <thead>
              <tr>
                <th scope='col'>Project</th>
                <th scope='col'>Year</th>
                <th scope='col' class='lg-visible'>Built with</th>
                <th scope='col' class='lg-visible'></th>
              </tr>
            </thead>
            <tbody>
              {
                sortedProjects.map((project) => {
                  return (
                    <ProjectRow
                      data={project.data}
                      url={'projects/' + project.slug}
                    />
                  );
                })
              }
            </tbody>
          </table>
        </main>
      </div>
    </MainLayout>
    <Footer />
    <style>
      body {
        display: flex;
        flex-direction: column;
      }

      .wrapper {
        padding-inline: 1.5rem;
        padding-top: 2rem;
        flex-grow: 1;
      }

      caption {
        padding-block: 1.5rem;
      }
      table {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        .wrapper {
          padding-top: 4rem;
        }
      }
    </style>
  </body>
</html>
