---
import MainLayout from '../../layouts/MainLayout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import ProjectRow from '@components/Projects/ProjectRow.astro';
import Footer from '@components/Footer.astro';

const projects = await Astro.glob('./*.md');
---

<html lang='en' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout>
      <div class='wrapper'>
        <Breadcrumb />
        <main>
          <table>
            <caption>Project Archives</caption>
            <thead>
              <tr>
                <th scope='col'>Project</th>
                <th scope='col'>Year</th>
                <th scope='col' class='lg-visible'>Built with</th>
                <th scope='col' class='lg-visible'></th>
              </tr>
            </thead>
            <tbody>
              {
                projects.map((project) => {
                  return <ProjectRow project={project} />;
                })
              }
            </tbody>
          </table>
        </main>
      </div>
    </MainLayout>
    <Footer />
  </body>
</html>
<style>
  .wrapper {
    padding-inline: 1.5rem;
    padding-top: 2rem;
  }

  caption {
    padding-block: 1.5rem;
  }
  table {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .wrapper {
      padding-top: 4rem;
    }
  }
</style>
